{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}



    <div class="container">
    <form class="" action="index.html" method="post">


      <select id="program" name="Section">
      <option value="MBA Tech">MBA Tech</option>
      <option value="Btech">Btech</option>

    </select>


      <select id="stream" name="Section">
      <option value="CS">CS</option>
      <option value="IT">IT</option>
      <option value="MECHATRONICS">MECHATRONICS</option>
      <option value="MECHANICAL">MECHANICAL</option>
      <option value="CIVIL">CIVIL</option>
      <option value="DATASCIENCE">DATASCIENCE</option>
      <option value="CSBS">CSBS</option>
      <option value="CHEMICAL">CHEMICAL</option>
      <option value="EXTC">EXTC</option>

      </select>
    </form>
    </div>

    <div class="red">
      <h2>heyyyyyyyeee</h2>
    </div>

    <ul class="time">
      <li>8-9</li>
      <li>9-10</li>
      <li>10-11</li>
      <li>11-12</li>
      <li>12-1</li>
      <li>1-2</li>
      <li>2-3</li>
      <li>3-4</li>
      <li>4-5</li>
      <li>5-6</li>
      </ul>

      <ul class="days">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>

        </ul>

{% endblock %}
